/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}





/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}





/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}





/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}





/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}





/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}





/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}





/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #7e7e7e;
}

.logo {
  padding: 26px 0;
  transition: all 0.3s ease 0s;
}
.logo h4 {
  font-weight: 600;
  margin: 0;
}
.basic-menu {
  float: right;
  display: flex;
}
.basic-menu ul {
  padding-left: 0;
}
.basic-menu li {
  margin-left: 30px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.basic-menu > li:last-child:after{display:none}
.basic-menu li a {
  color: #232332;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
}
.basic-menu > li > a::before {
  background: #666666 none repeat scroll 0 0;
  bottom: 23px;
  content: "";
  height: 1px;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
  width: 0px;
}
.basic-menu > li > a {
  padding: 30px 0;
}
.basic-menu li:hover > a {
  color: #999;
  text-decoration: none;
}
.basic-menu li:hover > a:before{opacity:1;width:15px;}
.basic-menu li ul {
  background: #222 none repeat scroll 0 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  float: none;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 110%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 200px;
  z-index: 11;
}
.basic-menu li:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.basic-menu li ul li {
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  display: block;
  float: none;
  margin: 0;
}
.basic-menu li ul li:last-child {
  border-bottom: 0 none;
  margin: 0;
}
.basic-menu li ul li a i{float:right}
/* --------------------------
  Child Sub menu
-----------------------------*/
.basic-menu li ul li ul {
  left: 100%;
  opacity: 0;
  position: absolute;
  top: 10%;
  visibility: hidden;
  z-index: 999;
}
.basic-menu li ul li:hover > ul {
  opacity: 1;
  top: 0;
  visibility: visible;
}
.basic-menu li ul li a {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  font-size: 10px;
  padding: 10px 15px;
}
.basic-menu li ul li:hover > a {
  background: rgba(51, 51, 51, 0.5) none repeat scroll 0 0;
  color: #fff;
}
.basic-menu li ul li a span {
  float: right;
}
.member-img img {
    width: 100%;
}
.menu-area .menu-p-right ul {
  left: auto;
  right: 0;
}
.basic-menu .menu-p-right ul li ul {
  right: 100%;
}



/* ==========================================================================
   Responsive CSS
   ========================================================================== */


/*For mobile screen below 576*/

@media (max-width: 575px) {}

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 767px) {}


@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
    .d-lg-none {
        display: none;
    }
    .d-lg-flex {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .main-menu::after {
        content: '';
        display: block;
        width: 1px;
        height: 20px;
        background-color: #cccccc;
        right: 0;
        align-self: center;
        margin: 0 22px 0 25px;
    }
    .main-menu>li>a {
        padding: 40px 20px;
    }
    .main-menu>li:hover .dropdown {
        opacity: 1;
        display: block;
    }
    .main-menu>li:hover .mega-menu {
        opacity: 1;
        display: flex;
    }
    .main-menu>li {
        position: relative;
    }
    .main-menu>li .dropdown {
        background-color: #2e2e2e;
        border-top: 4px solid #ee3333;
        min-width: 200px;
        position: absolute;
        opacity: 0;
        display: none;
        transition: all 0.35s ease-in-out;
        margin-left: 20px;
    }
    .main-menu>li .dropdown a {
        padding: 15px 40px;
        color: #ffffff;
    }
    .mega-menu {
        min-width: 800px;
        background-color: #2e2e2e;
        color: #ffffff;
        padding: 20px;
        position: absolute;
        margin-left: 20px;
        opacity: 0;
        transition: all 0.35s ease-in-out;
        text-align: center;
        border-top: 4px solid #ee3333;
        display: none;
    }
    .mega-menu a {
        color: #ffffff;
        padding: 15px 20px;
    }
    .ico-menu {
    margin-right: 30px;
}
}

@media (max-width: 1199px) {}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}





/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}





/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}





/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}





/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}





/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}





/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}